<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--    contain this   -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IMDI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome</a>
        </li>
        <li class="nav-item">
            {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
            {% else %}
          <a class="nav-link" href="#">Profile</a>
            {%endif%}
        </li>
          {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_director' %}">Add a director</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_film' %}">Add a film</a>
        </li>
          {% endif%}
      </ul>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
            {%if not user.is_authenticated %}
          <a href="{% url 'login' %}" class="nav-link ">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link ">Login in as <b>{{ user.username }}</b></a>
        </li>
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link ">Logout</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>