{% extends 'partials/base.html'%}
{% block content%}
{% if user.is_authenticated%}
{%if messages%}
{%for message in messages%}
<div class="alert alert-warning">{{message}}<br></div>
{%endfor%}
{%endif%}
<h1 class="pt-3 ps-3">All the new films</h1>
<div class="row">
{% for film in films%}
<div class="card " style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{film.title}} BY {%for dir in film.director_set.all%}{{dir.first_name}} {{dir.last_name}}{%endfor%}</h5>
    <p class="card-text">Date: {{film.release_date}}</p>
    <p class="card-text">Category: {% for cat in film.category.all%}{{cat.name}} {%endfor%}</p>
    <p class="card-text">Country: {{film.created_in_country}}</p>
    {% if user.is_superuser %}
    <a href="{% url 'delete' film.id %}" class="card-link">Delete</a>
    {%endif%}
    {% if user.is_superuser %}
    <div class="card-body">
      {%for dir in film.director_set.all%}
    <a href="{% url 'edit_director' dir.id %}" class="card-link">Modify the director</a>
      {%endfor%}
    </div>
    {%endif%}
  </div>
      {% if user.is_superuser %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{% url 'edit_film' film.id %}" class="card-link">Modify the film</a></li>
  </ul>
  {%endif%}

  <a href="{% url 'comment' film.id %}" class="btn">Leave a comment</a>
  <a href="{% url 'rate' film.id %}" class="btn">Rate the film</a>
</div>
{%endfor%}
</div>
{% endif%}
{%endblock%}